In [2]:
import numpy
import talib
# https://github.com/ta-lib/ta-lib-python
all_functions = talib.get_functions()
print(len(all_functions))
print(all_functions)

158
['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE', 'ADD', 'DIV', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'MULT', 'SUB', 'SUM', 'ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH', 'ADX', 'ADXR', 'APO', 'AROON', 'AROONOSC', 'BOP', 'CCI', 'CMO', 'DX', 'MACD', 'MACDEXT', 'MACDFIX', 'MFI', 'MINUS_DI', 'MINUS_DM', 'MOM', 'PLUS_DI', 'PLUS_DM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCH', 'STOCHF', 'STOCHRSI', 'TRIX', 'ULTOSC', 'WILLR', 'BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MAVP', 'MIDPOINT', 'MIDPRICE', 'SAR', 'SAREXT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', 'CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE', 'BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR', 'ATR', 'NATR', 'TRANGE', 'AD', 'ADOSC', 'OBV']

In [4]:
import os
import pandas_datareader as pdr
import pandas as pd
from dotenv import load_dotenv

load_dotenv()
AAPL = pdr.get_data_tiingo('AAPL',api_key = os.getenv('api_key'))
AAPL.tail()

/var/folders/lw/6vvkjf6919ndmlnqfvwpynlh0000gn/T/ipykernel_32877/750522615.py:7: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  AAPL = pdr.get_data_tiingo('AAPL',api_key = os.getenv('api_key'))

                                   close      high     low     open    volume  \
symbol date
AAPL   2025-03-11 00:00:00+00:00  220.84  225.8399  217.45  223.805  76137410
       2025-03-12 00:00:00+00:00  216.98  221.7500  214.91  220.140  62547467
       2025-03-13 00:00:00+00:00  209.68  216.8394  208.42  215.950  61368330
       2025-03-14 00:00:00+00:00  213.49  213.9500  209.58  211.250  60107582
       2025-03-17 00:00:00+00:00  214.00  215.2200  209.97  213.310  48073426

                                  adjClose   adjHigh  adjLow  adjOpen  \
symbol date
AAPL   2025-03-11 00:00:00+00:00    220.84  225.8399  217.45  223.805
       2025-03-12 00:00:00+00:00    216.98  221.7500  214.91  220.140
       2025-03-13 00:00:00+00:00    209.68  216.8394  208.42  215.950
       2025-03-14 00:00:00+00:00    213.49  213.9500  209.58  211.250
       2025-03-17 00:00:00+00:00    214.00  215.2200  209.97  213.310

                                  adjVolume  divCash  splitFactor
symbol date
AAPL   2025-03-11 00:00:00+00:00   76137410      0.0          1.0
       2025-03-12 00:00:00+00:00   62547467      0.0          1.0
       2025-03-13 00:00:00+00:00   61368330      0.0          1.0
       2025-03-14 00:00:00+00:00   60107582      0.0          1.0
       2025-03-17 00:00:00+00:00   48073426      0.0          1.0

In [22]:
# 資料預處理，取近300天的資料

AAPL_adj=AAPL.iloc[:,5:9] 
AAPL_adj.columns = ['Close', 'High', 'Low', 'Open'] 
AAPL_adj = AAPL_adj.reset_index() #從多index變成單一index
AAPL_adj.index = AAPL_adj['date'] # 將index設為date
AAPL_adj = AAPL_adj.iloc[:,2:6] 
AAPL_adj_20 = pd.DataFrame(AAPL_adj)
AAPL_adj_20

                                Close        High         Low        Open
date
2020-03-19 00:00:00+00:00   59.406029   61.362122   58.879388   60.039454
2020-03-20 00:00:00+00:00   55.634603   61.117004   55.333665   59.988488
2020-03-23 00:00:00+00:00   54.452695   55.455011   51.598643   55.353080
2020-03-24 00:00:00+00:00   59.915681   60.112261   56.862622   57.362566
2020-03-25 00:00:00+00:00   59.585620   62.675083   59.289537   60.854897
...                               ...         ...         ...         ...
2025-03-11 00:00:00+00:00  220.840000  225.839900  217.450000  223.805000
2025-03-12 00:00:00+00:00  216.980000  221.750000  214.910000  220.140000
2025-03-13 00:00:00+00:00  209.680000  216.839400  208.420000  215.950000
2025-03-14 00:00:00+00:00  213.490000  213.950000  209.580000  211.250000
2025-03-17 00:00:00+00:00  214.000000  215.220000  209.970000  213.310000

[1255 rows x 4 columns]

In [24]:
MA5 = talib.SMA(AAPL_adj_20.Close, timeperiod = 5)
MA5

date
2020-03-19 00:00:00+00:00           NaN
2020-03-20 00:00:00+00:00           NaN
2020-03-23 00:00:00+00:00           NaN
2020-03-24 00:00:00+00:00           NaN
2020-03-25 00:00:00+00:00     57.798926
                                ...
2025-03-11 00:00:00+00:00    231.692000
2025-03-12 00:00:00+00:00    227.940000
2025-03-13 00:00:00+00:00    222.810000
2025-03-14 00:00:00+00:00    217.694000
2025-03-17 00:00:00+00:00    214.998000
Length: 1255, dtype: float64

In [26]:
EVENINGSTAR = talib.CDLEVENINGSTAR(AAPL_adj_20.Open.values,AAPL_adj_20.High.values,AAPL_adj_20.Low.values,AAPL_adj_20.Close.values)
EVENINGSTAR[EVENINGSTAR!=0]

array([-100, -100, -100, -100, -100], dtype=int32)